<div class="spacer">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">formulaire d'achat</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">produit</label>
            <select [(ngModel)]="listeLignePF.produitA" class="form-control">
              <option *ngFor="let p of produits" [ngValue]="p">
                {{p.nom}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">format</label>
            <select [(ngModel)]="listeLignePF.formatA" class="form-control">
              <option *ngFor="let f of formats" [ngValue]="f">
                {{f.libelle}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">prix unitaire</label>
            <input type="number" class="form-control" [(ngModel)]="listeLignePF.prix_unitaireA">
          </div>
          <div class="form-group">
            <label class="control-label">quantité</label>
            <input type="number" class="form-control" [(ngModel)]="listeLignePF.listeLigneLPF.quantite">
          </div>
          <div class="btn btn-primary" (click)="ajouter()" [(ngModel)]="message">Ajouter</div>
        </div>
      </div>

    </div>
    <div class="col-lg-8">

      <div class="panel panel-primary">
        <div class="panel panel-heading">liste de produits livré </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label>fournisseur</label>
                <select [(ngModel)]="achat.fournisseur" >
                  <option *ngFor="let f of fournisseurs" [ngValue]="f">
                    {{f.nom}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-4">

            </div>

          </div>
          <table class="table table-striped">
            <tr>
              <th>produit</th><th>format</th><th>quantite</th><th>prix unitaire</th>
            </tr>
            <tr *ngFor="let l of listeLIgnrPFTableau">
              <td>{{l.produitA.nom}}</td>
              <td>{{l.formatA.libelle}}</td>
              <td>{{l.listeLigneLPF.quantite}}</td>
              <td>{{l.prix_unitaireA}}</td>
            </tr>
          </table>
          <div class="row">
            <div class="col-lg-7">

            </div>
            <div class="col-lg-5">
              <div class="form-group">
                <label>prix total :</label>
                <input type="number" [(ngModel)]="achat.prixTotal" >FCFA

              </div>
            </div>

          </div>
          <button class="btn btn-primary pull-right" (click)="saveAchat()" [(ngModel)]="message">save</button>
        </div>
      </div>

    </div>
  </div>
</div>
