<div class="spacer">
  <div class="panel panel-primary">
    <div class="panel-heading"> nouveau format</div>
    <div class="panel-body">
      <div>
        <div class="form-group">
          <label class="control-label">libelle</label>
          <input type="text" class="form-control" [(ngModel)]="format.libelle">
        </div>
        <div class="form-group">
          <label class="control-label">description</label>
          <input type="text" class="form-control" [(ngModel)]="format.description">
        </div>
      </div>
      <button class="btn btn-primary" (click)="saveFormat()">save</button>
    </div>
  </div>
</div>
