<div class="container-fluid">
  <nav class="navbar navbar-inverse">
    <div>
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> </a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/vente">vente</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a class="active" routerLink="/fournisseur">fournisseurs</a>
            </li>
            <li>
              <a class="active" routerLink="/gammes">gammes</a>
            </li>
            <li>
              <a class="active" routerLink="/client">clients</a>
            </li>
            <li>
              <a class="active" routerLink="/format">formats</a>
            </li>
            <li>
              <a class="active" routerLink="/produit">produits</a>
            </li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a class="actve" routerLink="/achat">achat</a></li>
        <li><a href="#"> page3</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="marge">
  <div class="container-fluid">
    <app-contentenu></app-contentenu>
    <router-outlet>

    </router-outlet>

  </div>
</div>
