
<div>
<button routerLink="/produitFormat" class="btn btn-link">produitFormat</button>
<button routerLink="/new-proformat" class="btn btn-link">new-proFormat</button>
<button routerLink="/commande" class="btn btn-link">commandes</button>
<button routerLink="/new-commande" class="btn btn-link">new-com</button>
<button routerLink="/prodFormatCommande" class="btn btn-link">proFormCommande</button>
<button routerLink="/livraison" class="btn btn-link">livraison</button>
<button routerLink="/new-livraison" class="btn btn-link">new-livraison</button>
<button routerLink="/livrProdFormat" class="btn btn-link">LPF</button>
<button routerLink="/new-LPF" class="btn btn-link">new-LPF</button>
</div>
