<div class="spacer">
  <div class="panel panel-primary">
    <div class="panel-heading"> modification de la livraison</div>
    <div class="panel-body">
      <div>
        <div class="form-group">
          <label class="control-label">date</label>
          <input type="date" class="form-control" [(ngModel)]="livraison.dateLivraison">
        </div>
        <div class="form-group">
          <label class="control-label">description</label>
          <input type="text" class="form-control" [(ngModel)]="livraison.description">
        </div>
        <div class="form-group">
          <label class="control-label">fournisseur</label>
          <select [(ngModel)]="fournissuer.id" class="form-control">
            <option *ngFor="let f of fournissuers" [value]="f.id">
              {{f.nom}}
            </option>
          </select>
        </div>
      </div>
      <button class="btn btn-primary" (click)="onSaveLivraison()">save</button>
    </div>
  </div>
</div>
